body {
    height: 700px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player {
    width: 800px;
    height: 529px;
    background: black;
    box-shadow: 0px 24px 54px -12px #5e6178;
    position: absolute;
    left: 50%;
    transform: translateX(-400px);
    top: 20%;
  }
  .player .cover {
    width: 230px;
    position: absolute;
    left: 50%;
    transform: translateX(-115px);
    top: -40px;
    box-shadow: 5px 20px 50px 0px rgba(17,17,17,0.4);
  }
  .player .icons {
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .player .icons .fa {
    color: white;
    margin-left: 15px;
    font-size: 20px;
  }
  .player .info {
    position: absolute;
    top: 240px;
    left: 38%;
    color: #fff;
    font-family: Open Sans;
    letter-spacing: 1px;
  }
  .player .info .title {
    font-size: 2em;
    margin: 0;
  }
  .player .info .artist {
    color: white;
  }
  .player .line {
    height: 3px;
    width: 100%;
    background-color:white;
    position: absolute;
    top: 400px;
  }
  .player .playtime {
    background-color: rgba(114,230,207,0.3);
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0px;
  }
  .player .played {
    background-color:white;
    height: 5px;
    width: 300px;
    position: absolute;
    bottom: 0px;
  }
  .player svg {
    width: 85px;
    background-color: black;
    border-radius: 50%;
    height: 85px;
    position: absolute;
    left: 50%;
    transform: translateX(-42.5px);
    bottom: 25px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.4);
  }
  .player .forward {
    width: 30px;
    position: absolute;
    bottom: 55px;
    right: -70%;
  }
  .player .backward {
    width: 30px;
    position: absolute;
    bottom: 55px;
    left: 36%;
  }
  .player .fa.fa-volume-up {
    color: #fff;
    position: absolute;
    bottom: 53px;
    right: 28%;
  }
  .player p.songtime {
    color: #fff;
    position: absolute;
    right: 20px;
    bottom: 45px;
  }
  .player p.timeleft {
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 45px;
  }
  .player .fa.fa-heart.liked {
    color: #ff749f;
  }